extends layout

block content

	.container
		div.hero-unit
			h1 Get online

		h2 Dial-up lines

		p These dial-up numbers are meant to help you connect to the Internet in case of blackout. Please be aware that 
			b they don't prevent wiretapping (usual care applies, like using HTTPS) 
			| and 
			b they do cost the price of an international call. 

		h3 France (provided by FDN)
		p 
			p 
				h4 Phone Number: 
				|+33172890150
				h4 Username:
				|toto
				h4 Password:
				|toto

		h3 Sweden (provided by Gotanet)
		p 
			p 
				h4 Phone Number: 
				|+46708671911
				h4 Username:
				|toto
				h4 Password:
				|toto

		h3 The Netherlands (provided by XS4ALL)
		p 
			p 
				h4 Phone Number: 
				|+31205350535
				h4 Username:
				|xs4all
				h4 Password:
				|xs4all

		h2 Report a broken line

		p If you're experiencing issues with one of the lines listed above please let us know. If you have a dial-up line and want to help people to connect, feel free to contact us and we'll list it.