extends layout

block content

	.container
		div.hero-unit
			h1 #{title}

		h2 Latest Reports

		table.table-striped.table-bordered
			thead
				tr
					th 
						h3 City
					th 
						h3 Status
					th 
						h3 Comments
					th 
						h3 Action
			tbody

			each report in reports
				tr
					td 
						h5 #{report["cityName"]}
					td 
						h5 #{report["statusString"]}
					td 
						h5 #{report["comments"]}
					td 
						h5 Delete
			